.banner-div {
  height: 24vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5cb85c;
}

.banner-div h1 {
  font-weight: 800;
  font-size: 35px;
}

.banner-div p {
  font-size: 20px;
  letter-spacing: 2px;
}
