.footer {
  height: 8vh;
  width: 100%;
  background-color: #333d48;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: sticky;
  bottom: 0;
}

.footer img {
  padding: 10px;
}

.footer:hover {
  cursor: pointer;
  text-decoration: underline;
}
